<!-- main.hbs-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flightline</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            body {
                background-color: #72B8D3;
            }

            th {
                text-align: center;
                padding: 10px;
            }

            td {
                text-align: center;
            }

            .navbar-custom {
                background-color: #001f3f;
                color: white !important;
            }
            
            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: white;
                display: flex;
                align-items: center;
            }

            .navbar-custom .navbar-brand img {
                height: 30px;
            }

            .navbar-custom .navbar-brand #logo {
                height: 20px;
                margin-left: 5px;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
            }

            .container img {
                height: 50px;
                margin-bottom: 20px;
            }

            .container p {
                font-size: 18px;
            }

            .box {
                background-color: #F5F5F5;
                padding: 40px;
                color: #333333;
                text-align: center;
                height: 80%;
            }

            .white-box {
                background-color: #F5F5F5;
                padding: 50px;
                width: 90%;
            }

            .centered-button {
                display: flex;
                justify-content: center;
            }

            .nav-button {
                padding: 5px 10px;
                background-color: #001F3F;
                color: #FFFFFF;
                cursor: pointer;
                margin-top: 50px;
            }

            .nav-button:hover {
                background-color: #E17E2D;
                color: white;
            }

            .button-container {
                display: flex;
                justify-content: space-around;
                margin-top: 30px;
            }

            .button {
                padding: 5px 10px;
                background-color: #001F3F;
                color: #FFFFFF;
                border: none;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
                margin-top: 10px;
            }

            .button:hover {
                background-color: #E17E2D;
                color: white;
            }

            .delete-button-container {
                display: flex;
                justify-content: space-around;
            }

            .delete-button {
                background-color: #001F3F;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
                border-radius: 4px;
            }

            .delete-button:hover {
                background-color: #E17E2D;
                color: white;
            }

            .button-container {
                display: flex;
                justify-content: space-around;
                margin-top: 30px;
            }

            .home-button {
                padding: 10px 20px;
                background-color: #001F3F;
                color: #FFFFFF;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 5px;
                margin-left: 5px;

            }

            .home-button:hover {
                background-color: #E17E2D;
                color: white;
            }

            {{!-- .navbar-custom --}}
        </style>    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="/images/plane-F57F20.png" alt="">
                <img id="logo" src="/images/logo-dark.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/terminals">Terminals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gates">Gates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/flights">Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aircraft">Aircrafts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/passengers">Passengers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/active-passengers">Booked Passengers</a>
                    </li>
                </ul>
            </div>
        </nav>

        {{{body}}}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>