<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Airport Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Website Name</a></li>
            <li><a href="/terminals">Terminals</a></li>
            <li><a href="/gates">Gates</a></li>
            <li><a href="/flights">Flights</a></li>
            <li><a href="/passengers">Passengers</a></li>
            <li><a href="/booked-passengers">Booked Passengers</a></li>
            <li><a href="/aircrafts">Aircrafts</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>