{{! 
The following areas were where sample code was obtained and edited for use in our project:
https://github.com/osu-cs340-ecampus/nodejs-starter-app
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
}}

<style>
    .container {
        margin-top: 10%;
    }

</style>

<div class="container">
    <div class="box">
        <img src="/images/logo.png" alt="">
        <p>Welcome to Flightline, your all-in-one solution for efficient airport management. Take control of terminals, gates, flights, passengers, aircraft, and active passengers with ease. Streamline your operations, ensure smooth travel experiences, and unlock smooth sailing with Flightline.</p>
        <div class="button-container">
            <a href="/terminals" class="home-button">Explore Terminals</a>
            <a href="/gates" class="home-button">Discover Gates</a>
            <a href="/flights" class="home-button">Manage Flights</a>
            <a href="/passengers" class="home-button">Handle Passengers</a>
            <a href="/aircraft" class="home-button">Navigate Aircraft</a>
            <a href="/active-passengers" class="home-button">Track Booked Passengers</a>
        </div>
        </div>
    </div>
</div>