<h1>Airport Management System</h1>
    <ul>
        <li><a href='/terminals'>Terminals</a></li>
        <li><a href="/gates">Gates</a></li>
        <li><a href="/flights">Flights</a></li>
        <li><a href="/passengers">Passengers</a></li>
        <li><a href="/active-passengers">Booked Passengers</a></li>
        <li><a href="/aircraft">Aircrafts</a></li>
    </ul>
