:root {
    /* Background */
    --background-color: #F5F5F5;

    /* Primary */
    --primary-color: #001F3F;

    /* Accent */
    --accent-color-1: #6ECFF5;
    --accent-color-2: #FF7F00;

    /* Text & UI */
    --text-color: #333333;
    --link-color: #007BFF;
    --navbar-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

